body {
    /* Box-model */
    min-width: 800px;
    margin: 0;
    padding: 0;
    /* Typography */
    font-family: PT Sans Narrow;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
}
h1 {
    /* Typography */
	font-size: 30px;
	line-height: 42px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans Narrow;
	text-transform: uppercase;
}
h2 {
    /* Typography */
    font-family: PT Sans Narrow;
	font-size: 24px;
	line-height: 42px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}
.main-header {
    /* Box-model */
    padding: 5px 0;
    /* Visual */
    background-color: #68df68; 
}
.container {
    /* Box-model */
    min-height: 20px;
    padding: 5px 0;
    width: 940px;
    margin: 0 auto;
    /* Visual */
    background-color:white;
    
}
.main-navigation {
    /* Box-model */
    float: left;
    width: 720px;
    min-height: 52px;
    /* Visual */
    background-color: yellow;
}
.user-block {
    /* Box-model */
    float: right;
    min-height: 52px;
    width: 170px;
    /* Visual */
    background-color: yellow;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
